{% extends "master.html" %}

{% block content %}

<div id="main-wrapper">
  <div class="container">
    <div class="row gtr-200">
      <div class="col-4 col-12-medium">
        <div id="sidebar">

          <!-- Sidebar -->
            <section>
              <h3>¿Cómo creo un estudiante?</h3>
              <p>Antes de iniciar, si desea crear un estudiante, necesitará tener los permisos necesarios.
              </p>
              <footer>
                <a href="#" class="button icon solid fa-info-circle">¿Cómo solicitar permisos?</a>
              </footer>
            </section>

            <section>
              <h3>Requisitos para crear el estudiante </h3>
              <ul class="style2">
                <li><a href="#">Dos nombres y dos apellidos</a></li>
                <li><a href="#">El correo electrónico deberá estar asociado al dominio de la universidad @utp.edu.ec </a></li>
                <li><a href="#">Número de cedula valido y que no este registrado a otro estudiantex.</a></li>
              </ul>
            </section>

        </div>
      </div>
      <div class="col-8 col-12-medium imp-medium">
        <div id="content">

          <!-- Content -->
          <h2>Crear Estudiante</h2>
          <form action="" method="post">
            {% csrf_token %}
            {{formulario.as_p}}
            <p><input type='submit' value='Agregar'/></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
